[Unit]
Description=Kafka Producer

[Service]
Type=simple
WorkingDirectory=/home/ec2-user/weatheranalysis/
ExecStart=${JAVA_HOME}/bin/java -jar /home/ec2-user/weatheranalysis/kafka-producer-0.0.1.jar
StandardOutput=file:/var/log/weather_analysis/kafka_producer.out.log
StandardError=file:/var/log/weather_analysis/kafka_producer.err.log

[Install]
WantedBy=multi-user.target